#wrapper {
	position: relative;
	overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
}

.title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 25px;
}
#messegeResult {
    padding: 10px 10;
    color: green;
    font-weight: 800;
    font-size: 18px;
    font-family: serif;
    text-align: center;
    width:100%;
    max-width: 100%;
}
.error{
    color:red;
}