.contact {
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: 16px;
    flex-wrap: wrap;
    position: relative;
    text-shadow: 0px 5px 3.88px rgba(0, 0, 0, 0.91);
    address {
        font-style: normal;
        margin-bottom: 28px;
        max-width: 275px;
        position: relative;
        margin: 0 auto;
        font-size: 20px;
        @include media('<phone') {
            margin: 0;
            margin-bottom: 15px;
        }
    }
    .contact-info {
        position: relative;
        background: rgba(0, 0, 0, 1);
        display: flex;
        flex-direction: column;
        align-items: center;
        @include media('<phone') {
            align-items: flex-start;
        }
        &:before {
            position: absolute;
            top: -76px;
            left: -99999px;
            right: 0;
            bottom: 0;
            z-index: 0;
            content: '';
            background-image: repeating-linear-gradient(-45deg, white 0px, white 8px, transparent 8px, transparent 25px);
        }
        &:after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            background: rgba(#000, .9);
        }
        @include media('<widescreen') {
            padding-right: 10px;
        }
        * {
            z-index: 2;
        }
    }
    .title {
        text-align: centar;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 33px;
        margin-bottom: 44px;
        @include media('<tablet') {
            margin-bottom: 22px;
        }
        @include media('<phone') {
            margin-bottom: 5px;
        }
    }
    .social-networks {
        @extend %listreset;
        display: flex;
        font-size: 47px;
        margin-bottom: 15px;
        padding-top: 0px;
        @include media('<tablet') {
            margin-bottom: 10px;
        }
        a:hover {
            opacity: .6;
        }
        li {
            margin-right: 15px;
        }
    }
    .tel {
        padding-left: 50px;
        margin: 0 auto 50px;
        font-size: 20px;
        line-height: 1;
        margin-bottom: 27px;
        &:before {
            position: absolute;
            left: -34px;
            @include media('<phone') {
                left: 0;
            }
        }
        @include media('<phone') {
            margin: 0;
            margin-bottom: 15px;
            padding-left: 70px;
        }
    }
}

.map-holder {
    width: 70%;
    background-color: $gray;
    position: relative;
    z-index: 9999;
    @include media('<widescreen') {
        width: 65%;
    }
    @include media('<desktop') {
        width: 50%;
    }
    @include media('<tablet') {
        width: 100%;
    }
}

.contact-info {
    position: relative;
    width: 30%;
    background-color: $black;
    color: $white;
    padding: 31px 5px 20px 35px;
    @include media('<widescreen') {
        width: 35%;
        padding: 31px 5px 20px 30px;
    }
    @include media('<desktop') {
        width: 50%;
    }
    @include media('<tablet') {
        padding: 31px 5px 20px 25px;
        width: 100%;
    }
    @include media('<phone') {
        text-align: left;
        padding: 45px 5px 15px 15px;
    }
    .copy {
        position: absolute;
        bottom: 0px;
        font-size: 11px;
        color: rgba(255, 255, 255, .7);
        max-width: none;
        left: 15px;
    }
    a {
        display: block;
        max-width: 200px;
        text-decoration: none;
        letter-spacing: 1px;
        margin-bottom: 5px;
        @include animate(opacity);
        &:hover {
            opacity: .8;
        }
    }
    .time {
        display: block;
        margin-bottom: 25px;
        position: relative;
        font-size: 20px;
        @include media('<phone') {
            margin-bottom: 15px;
        }
        strong {
            font-size: 25px;
            font-weight: 400;
            @include media('<tablet') {
                font-size: 20px;
            }
        }
        span {
            display: block;
        }
    }
    address {
        margin-bottom: 25px;
    }
    a,
    p,
    address,
    strong {
        color: inherit;
    }
    .mail {
        position: relative;
        margin-bottom: 25px;
    }
}

.tel {
    position: relative;
    margin-bottom: 25px;
    &:before {
        position: absolute;
        font: normal normal normal 19px/1 FontAwesome;
        content: "\f095";
        left: -25px;
        color: currentColor;
        top: 60%;
        font-size: 70px;
        transform: translateY(-50%) rotate(5deg);
    }
    a {
        position: relative;
        vertical-align: middle;
        display: flex;
        align-items: center;
        .info {
            font-size: 9px;
            display: inline-block;
            margin-left: 5px;
            letter-spacing: 1px;
        }
    }
}

#map {
    min-height: 450px;
    height: 100%;
    @include media('<tablet') {
        min-height: 250px;
    }
}

.job-form {
    display: none;
    margin: 30px;
    max-width: 700px;
    margin: 0 auto;
    background-size: cover;
    background-position: 50% 50%;
    background: rgba(0, 0, 0, .6);
    color: $white;
    font-family: "Old Standard TT", sans-serif, Arial, "Helvetica Neue", Helvetica, sans-serif;
    .col-wrapper {
        display: flex;
        justify-content: space-between;
        @include media('<640px') {
            flex-wrap: wrap;
        }
        .col {
            width: 48%;
            @include media('<640px') {
                width: 100%;
            }
            .input-proup {
                margin-bottom: 20px;
                @include media('<tablet') {
                    margin-bottom: 10px;
                }
            }
            .req {
                color: rgba(255, 252, 102, 0.653);
                display: inline-block;
                padding: 0 5px;
            }
            input {
                margin-bottom: 30px;
                display: block;
                width: 100%;
                border-radius: 3px;
                @include placeholder {
                    color: $black;
                }
                @include media('<tablet') {
                    margin-bottom: 10px;
                }
            }
            label {
                width: 100%;
                display: block;
                margin-bottom: 3px;
            }
            textarea {
                width: 100%;
                resize: none;
                height: 160px;
                border-radius: 3px;
            }
        }
    }
    button.sub {
        background: #000;
        border: 2px solid white;
        width: 180px;
        margin: 0 auto;
        display: inline-block;
        text-align: center;
        color: white;
        padding: 10px;
        @include animate(background-color color);
        &:hover {
            background: white;
            color: black;
        }
    }
    .submit-holder {
        padding-top: 15px;
        display: flex;
        justify-content: center;
    }
}

.fancybox-is-open .fancybox-bg {
    opacity: 0.6;
}