.section {
    padding: 57px 0;
    //	background: url(../images/texture.jpg);
    @include media('<desktop') {
        padding: 47px 0;
    }
    @include media('<tablet') {
        padding: 30px 0;
    }
    .title {
        color: white;
        background: rgba($black, .7);
        border: 2px solid $black;
        margin-bottom: 55px;
        border-left: none;
        border-right: none;
        padding: 5px 0;
        line-height: 1;
        font-size: 32px;
        @include media('<desktop') {
            margin-bottom: 45px;
        }
        @include media('<tablet') {
            margin-bottom: 35px;
            font-size: 24px;
        }
    }
}

.about {
    padding: 57px 0;
    background: url(../images/texture.jpg);
    background-size: 500px auto;
    @include media('<desktop') {
        padding: 47px 0;
    }
    @include media('<tablet') {
        padding: 30px 0;
    }
    .title {
        color: white;
        background: rgba($black, .7);
        border: 2px solid $black;
        margin-bottom: 55px;
        border-left: none;
        border-right: none;
        padding: 5px 0;
        line-height: 1;
        font-size: 32px;
        @include media('<desktop') {
            margin-bottom: 45px;
        }
        @include media('<tablet') {
            margin-bottom: 35px;
            font-size: 24px;
        }
    }
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    @include media('<tablet') {
        flex-wrap: wrap;
    }
    &:nth-child(2n) {
        flex-direction: row-reverse;
        @include media('<tablet') {
            flex-direction: row;
        }
    }
    .img-holder {
        width: 50%;
        padding: 15px;
        @include media('<tablet') {
            width: 100%;
            padding: 0 15% 25px;
            @include media('<phone') {
                padding-left: 0;
                padding-right: 0;
                margin-bottom: 0px;
            }
        }
        img {
            width: 100%;
            vertical-align: top;
        }
    }
    .text-holder {
        padding: 45px;
        color: $white;
        font-size: 16px;
        width: 50%;
        background-color: rgba($black, .7);
        @include media('<desktop') {
            padding: 25px;
        }
        @include media('<tablet') {
            width: 100%;
        }
        .h3 {
            font-size: 24px;
            margin-bottom: 25px;
        }
    }
}

.services {
    padding: 57px 0;
    background: url(../images/wood.jpg);
    background-size: cover;
    background-attachment: fixed;
    @include media('<desktop') {
        padding: 47px 0;
    }
    @include media('<tablet') {
        padding: 30px 0;
    }
    .title {
        color: #000;
        background: rgba($white, .5);
        border: 2px solid $white;
        margin-bottom: 55px;
        border-left: none;
        border-right: none;
        padding: 5px 0;
        line-height: 1;
        font-size: 32px;
        @include media('<desktop') {
            margin-bottom: 45px;
        }
        @include media('<tablet') {
            margin-bottom: 35px;
            font-size: 24px;
        }
    }
    .text-block {
        background: #000;
        padding: 25px;
    }
    .boxes-holder {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        color: $white;
        &:after {
            content: '';
            width: 32%;
            flex-shrink: 0;
            display: inline-block;
            height: 1px;
        }
        .text-block {
            width: 32%;
            margin-bottom: 30px;
            @include media('<desktop') {
                padding: 15px;
            }
            @include media('<tablet') {
                width: 49%;
                margin-bottom: 15px;
            }
            @include media('<phone') {
                width: 100%;
            }
            .marked-list {
                @extend %listreset;
                li {
                    position: relative;
                    padding-left: 15px;
                    margin-bottom: 15px;
                    font-weight: 100;
                    font-size: 15px;
                    @include media('<desktop') {
                        font-size: 13px;
                    }
                    strong {
                        font-weight: 900;
                        padding-left: 5px;
                        display: inline-block;
                    }
                    &:before {
                        content: '';
                        position: absolute;
                        top: 5px;
                        left: 0;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        display: block;
                        border: 1px solid currentColor;
                    }
                }
            }
            .title2 {
                text-align: center;
                display: block;
                margin-bottom: 20px;
                font-size: 24px;
                padding-bottom: 10px;
                border-bottom: 2px solid gray;
                text-transform: uppercase;
                @include media('<desktop') {
                    font-size: 18px;
                }
            }
        }
    }
}

.gallery {
    .gallery-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        .img-box {
            width: 24%;
            position: relative;
            overflow: hidden;
            display: block;
            &:before {
                content: "\f00e";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transform: scale(0);
                background: rgba($white, (.6));
                color: $black;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 34px;
                opacity: 0;
                font: normal normal normal 34px/1 FontAwesome;
                @include animate(opacity transform);
            }
            &:hover:before {
                transform: scale(1);
                opacity: 1;
            }
            @include media('<desktop') {
                width: 32%;
            }
            @include media('<tablet') {
                width: 49%;
            }
            @include media('<phone') {
                width: 100%;
            }
            img {
                vertical-align: top;
                margin-bottom: 15px;
            }
        }
    }
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .employee-box {
        width: 24%;
		position: relative;
		margin-bottom: 15px;
		@include media('<tablet') {
			width:49%;
		}
		@include media('<phone') {
			width: 100%;
		}
        .share-row {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            font-size: 30px;
            a {
                display: inline-block;
                margin: 5px 5px;
                color: $white;
                opacity: .8;
                @include animate(opacity);
                &:hover {
                    opacity: 1;
                }
            }
        }
        .img-holder {
            width: 100%;
            height: 150px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                vertical-align: top;
            }
        }
        .name {
			font-size: 18px;
			padding:10px;
			background: #000;
			color:$white;
		}
    }
}

.wow{
	animation-duration: 2s;
}

.contact{
	.contact-info{
		padding:80px;
		*{
			font-family: 'sans-serif';
			}
	}
	*{
	font-family: 'sans-serif';
	}
}
#map{
	height: 800px;
}