.gallery {
padding: 57px 0;
background: url(../images/brick.jpg);
background-size: 800px auto;
.title{
	margin-bottom:55px;
		}
}
.row{
	display: flex;
	align-items: center;
	margin-bottom: 40px;

	&:nth-child(2n){
		flex-direction: row-reverse;
	}
	.img-holder{
		width: 50%;
		padding: 15px;
		img{
			width: 100%;
			vertical-align: top;
		}
	}
	.text-holder{
		padding: 45px;
		font-size: 16px;
		width: 50%;
background-color: rgba(255,255,255,.85);
		.h3{
			font-size: 24px;
			margin-bottom: 25px;
		}
	}
}