.section {
    padding: 31px 0 72;
    .title-holder {
        text-align: center;
    }
    .title {
        color: $white;
        font-size: 30px;
        margin-bottom: 32px;
        margin-top: 0;
        display: inline-block;
        text-align: center;
        position: relative;
        font-weight: 400;
        text-transform: uppercase;
        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 37%;
            right: calc(100% + 74px);
            height: 10px;
            width: 112px;
            background: currentColor;
        }
        &:after {
            right: auto;
            left: calc(100% + 74px);
        }
    }
    &.gallery {
        padding: 31px 0 77px;
        background: url(../images/bg-gallery.jpg);
        background-size: cover;
        position: relative;
        .gallery-wrapper {
            padding: 49px 23px 0;
            z-index: 101;
            position: relative;
            border: 10px solid $white;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            a {
                width: 22.3%;
                margin-bottom: 38px;
            }
            img {
                width: 100%;
            }
        }
        &:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: -120px;
            bottom: -102px;
            background: repeating-linear-gradient( -45deg, black 0px, black 8px, transparent 8px, transparent 25px);
        }
    }
    &.services {
        padding: 171px 0 122px;
        background: url(../images/bg-services.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: 50% 50%;
        text-transform: uppercase;
        @include media('<desktop') {
            padding: 47px 0;
        }
        @include media('<tablet') {
            padding: 30px 0;
        }
        .title {
            color: $black;
            margin-bottom: 45px;
            &:before {
                right: calc(100% + 36px);
            }
            &:after {
                right: auto;
                left:  calc(100% + 36px);
            }
            @include media('<desktop') {
                margin-bottom: 45px;
            }
            @include media('<tablet') {
                margin-bottom: 35px;
                font-size: 24px;
            }
        }
        .text-block {
            background: #000;
            padding: 25px;
        }
        .boxes-holder {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            color: $black;
            border: 11px solid $black;
            padding: 110px 6px 96px;
            margin-left: 9px;
            margin-right: 9px;
            &:after {
                content: '';
                width: 32.5%;
                flex-shrink: 0;
                display: inline-block;
                height: 1px;
            }
            .text-block {
                width: 32.5%;
                text-transform: uppercase;
                margin-bottom: 30px;
                background: transparent;
                @include media('<desktop') {
                    padding: 15px;
                }
                @include media('<tablet') {
                    width: 49%;
                    margin-bottom: 15px;
                }
                @include media('<phone') {
                    width: 100%;
                }
                .marked-list {
                    @extend %listreset;
                    list-style-type: none;
                    li {
                        position: relative;
                        padding-left: 15px;
                        list-style-type: none;
                        font-weight: 100;
                        font-size: 20px;
                        display: flex;
                        justify-content: space-between;
                        @include media('<desktop') {
                            min-height: 30px;
                        }
                        @include media('<phone') {
                            min-height: 0;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                        @include media('<desktop') {
                            font-size: 13px;
                        }
                        strong {
                            font-weight: 900;
                            padding-left: 15px;
                            display: inline-block;
                            flex-shrink: 0;
                        }
                    }
                }
                .title2 {
                    text-align: center;
                    display: block;
                    margin-bottom: 20px;
                    font-size: 24px;
                    padding-bottom: 10px;
                    border-bottom: 2px solid gray;
                    text-transform: uppercase;
                    @include media('<desktop') {
                        font-size: 18px;
                    }
                }
            }
        }
    }
    &.about {
        padding:22px 0 0;
        background: url(../images/about-bg.jpg);
        position: relative;
        ul,ol{
            padding-left: 60px;
            li{
                padding-left: 15px;
            }
        }
        &:before{
            content: '';
            position: absolute;
            left:0;
            width: 21.2%;
            top:0;
            height: 129px;
            background: repeating-linear-gradient( -45deg, white 0px, white 8px, transparent 8px, transparent 25px);
        }
        &:after{
            content: '';
            position: absolute;
            right:0;
            width: 21.2%;
            top:0;
            height: 129px;
            background: repeating-linear-gradient( -45deg, white 0px, white 8px, transparent 8px, transparent 25px);
        }
        @include media('<desktop') {
            padding: 47px 0;
        }
        @include media('<tablet') {
            padding: 30px 0;
        }
        .title-holder{
            position: relative;
          
        }
        .title {
            font-size: 72px;
            color: white;
            margin-bottom: 60px;
            padding: 5px 0;
            line-height: 1;
            &:before{
                top: 46%;
                right: calc(100% + 44px);
            
            }
            &:after{
                right:auto;
                top: 46%;
                left:calc(100% + 44px);
            }
            @include media('<desktop') {
                margin-bottom: 45px;
            }
            @include media('<tablet') {
                margin-bottom: 35px;
                font-size: 24px;
            }
        }
    }
    @include media('<desktop') {
        padding: 47px 0;
    }
    @include media('<tablet') {
        padding: 30px 0;
    }
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    flex-wrap: wrap;

    .img-holder {
        width: 50%;
        padding: 15px;
        margin: 0 auto;
        @include media('<tablet') {
            width: 100%;
            padding: 0 15% 25px;
            @include media('<phone') {
                padding-left: 0;
                padding-right: 0;
                margin-bottom: 0px;
            }
        }
        img {
            width: 100%;
            vertical-align: top;
        }
    }
    .text-holder {
        padding: 45px;
        color: $white;
        font-size: 20px;
        width: 100%;
        padding-bottom: 150px;
        color: rgba(255, 255, 255, 1);
        position: relative;
        // &:after{
        //     content: '';
        //     position: absolute;
        //     right:-9999px;
        //     left:-9999px;
        //     bottom:0;
        //     height:76px;
        //     background: repeating-linear-gradient( -45deg, white 0px, white 12px, transparent 11px, transparent 36px);
        // }
        p{
            margin-bottom: 0;
        }
        ul,ol{
            margin: 0;
        }
        .h3{
            font-size: 24px;
            font-weight: 400;
            margin: 0px !important;
        }
        strong {
            font-weight: 700;
            color: $white;
        }
        .center {
            text-align: center;
            font-weight: 300;
        }
        p {
            text-align: justify;
        }
        @include media('<desktop') {
            padding: 25px;
            font-size: 18px;
        }
        @include media('<tablet') {
            width: 100%;
            font-size: 16px;
        }
        .h3 {
            font-size: 24px;
            margin-bottom: 25px;
        }
    }
}

.gallery {
    .gallery-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        .img-box {
            width: 24%;
            position: relative;
            overflow: hidden;
            display: block;
            margin-bottom: 15px;
            &:before {
                content: "\f00e";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transform: scale(0);
                background: rgba($white, (.6));
                color: $black;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 34px;
                opacity: 0;
                font: normal normal normal 34px/1 FontAwesome;
                @include animate(opacity transform);
            }
            &:hover:before {
                transform: scale(1);
                opacity: 1;
            }
            @include media('<desktop') {
                width: 32%;
            }
            @include media('<tablet') {
                width: 49%;
            }
            @include media('<phone') {
                width: 100%;
            }
            img {
                vertical-align: top;
            }
        }
    }
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .employee-box {
        width: 24%;
        position: relative;
        margin-bottom: 15px;
        @include media('<tablet') {
            width: 49%;
        }
        @include media('<phone') {
            width: 100%;
        }
        .share-row {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            font-size: 30px;
            a {
                display: inline-block;
                margin: 5px 5px;
                color: $white;
                opacity: .8;
                @include animate(opacity);
                &:hover {
                    opacity: 1;
                }
            }
        }
        .img-holder {
            width: 100%;
            height: 150px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                vertical-align: top;
            }
        }
        .name {
            font-size: 18px;
            padding: 10px;
            background: #000;
            color: $white;
        }
    }
}

.wow {
    animation-duration: 2s;
}

body .yButton.bottom.right {
    @include media('<tablet') {
        right: 0 !important;
        bottom: 8px !important;
    }
}

body .yButton {
    -webkit-animation: alert 3s linear 0s infinite normal;
    animation: alert 3s linear 0s infinite normal !important;
}

body {
    .yButtonBackground {
        background: #000 !important;
        border: 2px solid white;
        opacity: 1 !important;
        left: 50%;
        font-size: 18px;
        font-weight: bold;
        @include media('<tablet') {
            font-size: 10px !important;
            width: 80px !important;
            height: 80px !important;
        }
    }
    .yButtonText {
        @include media('<tablet') {
            width: 80px !important;
            height: 80px !important;
            font-size: 12px !important;
            top: 16px !important;
            left: 1px !important;
            font-weight: bold !important;
        }
    }
}