script(src='assets/js/vendor.min.js', defer='')
script(src='assets/js/app.js', defer='')
script.
    function initMap() {
    var uluru = {lat: 50.006228, lng: 36.235840};
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 18,
        center: uluru
    });
    var marker = new google.maps.Marker({
        position: uluru,
        map: map
    });
    }

script(async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaIl3sRnHH7g29FKAdvZSlum46EfQq7ns&callback=initMap")
script(type="text/javascript" src="https://w98578.yclients.com/widgetJS" charset="UTF-8")