script(src='assets/js/vendor.min.js', defer='')
script(src='assets/js/app.js', defer='')
script.
    function initMap() {
    var uluru = {lat: 50.006266, lng: 36.235285};
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 18,
        center: uluru,
        styles: [
                    {
                        "stylers": [
                            {
                                "hue": "#ff1a00"
                            },
                            {
                                "invert_lightness": true
                            },
                            {
                                "saturation": -100
                            },
                            {
                                "lightness": 33
                            },
                            {
                                "gamma": 0.5
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#2D333C"
                            }
                        ]
                    }
                ]
    });
    var marker = new google.maps.Marker({
        position: uluru,
        map: map
    });
    
    }
script(src="https://use.fontawesome.com/f0b05110df.js")
script(async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjFiOeRB49qv_F9Ek8_M47BLBAUI4ZUP0&callback=initMap")
script(type="text/javascript" src="https://w102132.yclients.com/widgetJS" charset="UTF-8")
