header#header.header-top
	nav.main-nav
		span.nav-opener 
		ul.nav-list
			li
				a(href="index.html#gallery1") Салон
			li
				a(href="#services") Услуги
			li
				a(href="#contacts") Контакты
			li
				a.ms_booking(href="#record" onclick="_gaq.push(['_trackEvent', 'Button', 'Press']);") Запись 
			li
				a(data-fancybox class="fancybox"  data-src="#job-form" href="javascript:;") Работа
			li
				a(href="training.html") Обучение
			li
				ul.lang
					li.active
						a(href="/") RU
					li
						a(href="en") EN