head
	script(src="https://www.googletagmanager.com/gtag/js?id=UA-113859504-1" async)
	script.
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);} 
		gtag('js', new Date()); 
		gtag('config', 'UA-113859504-1');
	script.
		var _gaq = _gaq || [];   
		_gaq.push(['_setAccount', 'UA-‎113859504-1']);   _gaq.push(['_trackPageview']);   setTimeout("_gaq.push(['_trackEvent', '15_seconds', 'read'])",15000);   (function() {     
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(name="description" content="Barber Shop next to me in Kharkov ✔ Book online ✔ Men’s haircut ✔ Beard & moustache trim ✔ Boy’s haircut ✔ Trim ✔ Royal shaving ✔ Father + son. Best price in Khrakov. Come and get your best haircut ☎ (098)748-22-99")
	meta(name="keywords" content="mens barbershop")
	meta(property="og:type" content="Мужская парикмахерская в Харькове")
	meta(property="og:description" content="Стильная мужская парикмахерская в центре города ✔ Мужская стрижка - 250 грн ✔ Стрижка + борода - 350 грн ✔ Стрижка усов и бороды 150 грн ✔ Детская стрижка - 200 грн ✔ Папа + сын - 400 грн")
	meta(property="og:title" content="Retro BarberShop")
	meta(property="og:type" content="article")
	meta(property="og:url" content="https://retrobarbershop.kh.ua")
	meta(property="og:image" content="https://retrobarbershop.kh.ua/assets/images/banner-image.jpg")
	meta(property="og:site_name" content="Retro BarberShop")
	title Mens Barbershop in Kharkov - Retro Barbershop
	link(media='all', rel='stylesheet', href='../assets/css/vendor.min.css')
	link(media='all', rel='stylesheet', href='../assets/css/style.min.css')
	link(rel='apple-touch-icon', sizes='180x180', href='assets/images/favicons/apple-touch-icon.png')
	link(rel='icon', type='image/png', sizes='32x32', href='../assets/images/favicons/favicon-32x32.png')
	link(rel='icon', type='image/png', sizes='16x16', href='../assets/images/favicons/favicon-16x16.png')
	link(rel='manifest', href='../assets/images/favicons/manifest.json')
	link(rel='mask-icon', href='../assets/images/favicons/safari-pinned-tab.svg', color='#5bbad5')
	meta(name='theme-color', content='#ffffff')

