header#header.header-top
	nav.main-nav
		span.nav-opener 
		ul.nav-list
			li
				a(href="index.html#gallery1") SALON
			li
				a(href="index.html#services") SERVICES
			li
				a(href="#contacts") CONTACTS
			li
				a.ms_booking(href="#record" onclick="_gaq.push(['_trackEvent', 'Button', 'Press']);") ONLINE BOOKING 
			li
				a(data-fancybox class="fancybox"  data-src="#job-form" href="javascript:;") CAREER
			li
				a(href="training.html").active Training
			li
				ul.lang
					li
						a(href="/") RU
					li.active
						a(href="training.html") EN