header#header
	address.adress-top(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress") 
		p 
			span(itemprop="addressLocality") Nezavisimosti Ave., 17,<br>
			span(itemprop="streetAddress") Kharkov, Ukraine
			span.shema-hidden(itemprop="postalCode") 61022
		.tel
			a(href="tel:‎0507482299" itemprop="telephone") ‎050 7482299
			a(href="tel:‎0637482299" itemprop="telephone") ‎063 7482299
			a(href="tel:‎0987482299" itemprop="telephone") ‎098 7482299
		p.row
			span.time 10:00 - 21:00
			span Daily
	.logo-holder
		.shema-hidden(itemprop="name") RETROBARBERSHOP
		div.logo
			img(itemprop="logo" src="../assets/images/logo.svg", alt="RETROBARBERSHOP" width="430" )
	nav.main-nav
		span.nav-opener 
		ul.nav-list
			li
				a(href="#gallery1") SALON
			li
				a(href="#services") SERVICES
			li
				a(href="#contacts") CONTACTS
			li
				a.ms_booking(href="#record" onclick="_gaq.push(['_trackEvent', 'Button', 'Press']);") ONLINE BOOKING 
			li
				a(data-fancybox class="fancybox"  data-src="#job-form" href="javascript:;") CAREER
			li
				a(href="training.html") Training
			li
				ul.lang
					li
						a(href="/training") RU
					li.active
						a(href="en") EN