section.training-registration.section
  .container
    h1.h1 Запись на обучение
    form(action="").training-form#trainig-form
      .input-row
        input(type="text" placeholder="Имя")
        input(type="tel" placeholder="Телефон")
        button(type="submit") Записаться


