doctype html
html(lang='en')
    include ../partials/head
    body
        #wrapper
            main#main.page404
                .box
                    h1.h1 404 
                    p Страница не найдена!
                    <a href="index.html"> Вернутся на retrobarbershop.kh.ua </a>
