doctype html
html(lang='en')
	include ../partials/head
	body
		#wrapper
			header#header
				address.adress-top 
					p г.Харьков, проспект Независимости, 17
					.tel
						a(href="tel:‎0507482299") ‎050 7482299
						a(href="tel:‎0637482299") ‎063 7482299
						a(href="tel:‎0987482299") ‎098 7482299 <span class="info"><span class="viber"></span><span class="wa"></span> </span>
				.logo-holder
					a(href="#" alt="logo").logo
						img(src="assets/images/logo.svg", alt="RETROBARBERSHOP" width="400" height="auto")
				nav.main-nav
					span.nav-opener
					ul.nav-list
						li
							a(href="#gallery1") Салон
						li
							a(href="#services") Услуги
						li
							a(href="#contacts") Контакты
						li
							a.ms_booking(href="#record") Запись
						li.social
							a(href="https://www.facebook.com/barbershopkharkiv" target="_blank")
								<i class="fa fa-facebook-official" aria-hidden="true"></i>
						li.social
							a(href="https://www.instagram.com/retro_barber_shop/" target="_blank")
								<i class="fa fa-instagram" aria-hidden="true"></i>
				//- a(href="#main").scroll-btn
				//- 	img(src="assets/images/razor.svg", alt="razer-logo")
				
			main#main
				.section.gallery#gallery1
					h1.title Салон
					.container
						.gallery-wrapper
							a(href="http://hudsonmod.com/wp-content/uploads/2013/03/TRIM_Barber_Salon_1.jpg" data-fancybox="gallery").img-box.wow.bounceInLeft
								img(src="http://hudsonmod.com/wp-content/uploads/2013/03/TRIM_Barber_Salon_1.jpg", alt="img descr")
							a(href="http://hudsonmod.com/wp-content/uploads/2013/03/TRIM_Barber_Salon_1.jpg" data-fancybox="gallery").img-box.wow.bounceInUp
								img(src="http://hudsonmod.com/wp-content/uploads/2013/03/TRIM_Barber_Salon_1.jpg", alt="img descr")
							a(href="http://hudsonmod.com/wp-content/uploads/2013/03/TRIM_Barber_Salon_1.jpg" data-fancybox="gallery").img-box.wow.bounceInUp
								img(src="http://hudsonmod.com/wp-content/uploads/2013/03/TRIM_Barber_Salon_1.jpg", alt="img descr")
							a(href="http://hudsonmod.com/wp-content/uploads/2013/03/TRIM_Barber_Salon_1.jpg" data-fancybox="gallery").img-box.wow.bounceInRight
								img(src="http://hudsonmod.com/wp-content/uploads/2013/03/TRIM_Barber_Salon_1.jpg", alt="img descr")
							a(href="http://hudsonmod.com/wp-content/uploads/2013/03/TRIM_Barber_Salon_1.jpg" data-fancybox="gallery").img-box.wow.bounceInLeft
								img(src="http://hudsonmod.com/wp-content/uploads/2013/03/TRIM_Barber_Salon_1.jpg", alt="img descr")
							a(href="http://hudsonmod.com/wp-content/uploads/2013/03/TRIM_Barber_Salon_1.jpg" data-fancybox="gallery").img-box.wow.bounceInDown
								img(src="http://hudsonmod.com/wp-content/uploads/2013/03/TRIM_Barber_Salon_1.jpg", alt="img descr")
							a(href="http://hudsonmod.com/wp-content/uploads/2013/03/TRIM_Barber_Salon_1.jpg" data-fancybox="gallery").img-box.wow.bounceInDown
								img(src="http://hudsonmod.com/wp-content/uploads/2013/03/TRIM_Barber_Salon_1.jpg", alt="img descr")
							a(href="http://hudsonmod.com/wp-content/uploads/2013/03/TRIM_Barber_Salon_1.jpg" data-fancybox="gallery").img-box.wow.bounceInRight
								img(src="http://hudsonmod.com/wp-content/uploads/2013/03/TRIM_Barber_Salon_1.jpg", alt="img descr")

				section.services#services
					h1.title Услуги
					.container
						.boxes-holder
							.text-block.wow.fadeIn
								strong.title2 Стрижка
								ul.marked-list
									li МУЖСКАЯ СТРИЖКА  <strong>250 грн.</strong>
									li СТРИЖКА МАШИНКОЙ <strong>150 грн.</strong>
									li КОРРЕКЦИЯ СТРИЖКИ  <strong>150 грн.</strong>
									li УКЛАДКА ВОЛОС <strong>120 грн.</strong>
							.text-block.wow.fadeIn
								strong.title2 Борода
								ul.marked-list
									li СТРИЖКА БОРОДЫ <strong>150 грн.</strong>
									li КАНТОВКА БОРОДЫ  <strong>100 грн.</strong>
									li БРИТЬЕ ОПАСНОЙ БРИТВОЙ  <strong>200 грн.</strong>
							.text-block.wow.fadeIn
								strong.title2 Усы
								ul.marked-list
									li СТРИЖКА УСОВ <strong>100 грн.</strong>
									li укладка УСОВ  <strong>120 грн.</strong>
									li Услуга 3 <strong>200 грн.</strong>
							.text-block.wow.fadeIn
								strong.title2 Детские стрижки
								ul.marked-list
									li Детская стрижка 1 <strong>200 грн.</strong>
									li Детская стрижка 2 <strong>230 грн.</strong>
									li Детская стрижка 3 <strong>220 грн.</strong>
							.text-block.wow.fadeIn
								strong.title2 Остальные услуги
								ul.marked-list
									li Услуга 1 <strong>200 грн.</strong>
									li Услуга 2 <strong>200 грн.</strong>
									li Услуга 3 <strong>200 грн.</strong>
				section.about#about
					h1.title О нас
					.container
						.row
							.img-holder.wow.slideInLeft
								img(src="https://barber-shop.su/wp-content/uploads/2016/10/barber-shop-2-3.jpg", alt="")
							.text-holder.wow.slideInRight
								h3.h3.subtitle Lorem ipsum dolor.
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. In temorem, ipsum dolor sit amet consectetur adipisicing elit. In temorem, ipsum dolor sit amet consectetur adipisicing elit. In temorem, ipsum dolor sit amet consectetur adipisicing elit. In temorem, ipsum dolor sit amet consectetur adipisicing elit. In temorem, ipsum dolor sit amet consectetur adipisicing elit. In tempora delectus, impedit eos voluptatibus quod facere. Sapiente velit tempore culpa animi, quas mollitia ea accusamus? Ex et nostrum praesentium! Recusandae.
						
				section.contact#contacts
						.map-holder
							#map
						.contact-info
							h1.title Контакты
							address г. Харьков, проспект Независимости 17 (бывший проспект Правды)
							.time 
								strong График работы:
								span пн. пт. 10:00 - 20:00
								span сб. вс. 12:00 - 19:00
							.tel
								a(href="tel:‎0507482299") ‎050 7482299
								a(href="tel:‎0637482299") ‎063 7482299
								a(href="tel:‎0987482299") ‎098 7482299 <span class="viber"></span><span class="wa"></span> <span class="info">(WhatsUp Viber)</span>
							a(href="mail:&#114;&#101;&#116;&#114;&#111;&#098;&#097;&#114;&#098;&#101;&#114;&#064;&#117;&#107;&#114;&#046;&#110;&#101;&#116;").mail &#114;&#101;&#116;&#114;&#111;&#098;&#097;&#114;&#098;&#101;&#114;&#064;&#117;&#107;&#114;&#046;&#110;&#101;&#116;

							p.copy ©«Retrobarbershop™» 2017–2018

			footer#footer
	include ../partials/foot