doctype html
html(lang='en')
	include ../partials/head
	body
		#wrapper
			header#header
				address.adress-top 
					p г.Харьков, проспект Независимости, 17
					.tel
						a(href="tel:‎0507482299") ‎050 7482299
						a(href="tel:‎0637482299") ‎063 7482299
						a(href="tel:‎0987482299") ‎098 7482299 <span class="info"><span class="viber"></span><span class="wa"></span> </span>
				.logo-holder
					a(href="#main" alt="logo").logo
						img(src="assets/images/logo.svg", alt="RETROBARBERSHOP" width="400" height="auto")
				nav.main-nav
					span.nav-opener
					ul.nav-list
						li
							a(href="#gallery1") Салон
						li
							a(href="#services") Услуги
						li
							a(href="#contacts") Контакты
						li
							a.ms_booking(href="#record") Запись 
						li.social
							a(href="https://www.facebook.com/barbershopkharkiv" target="_blank")
								<i class="fa fa-facebook-official" aria-hidden="true"></i>
						li.social
							a(href="https://www.instagram.com/retro_barber_shop/" target="_blank")
								<i class="fa fa-instagram" aria-hidden="true"></i>
						li
							a(data-fancybox class="fancybox"  data-src="#job-form" href="javascript:;") Работа
			main#main
				.section.gallery#gallery1
					h1.title Салон
					.container
						.gallery-wrapper
							a(href="assets/images/photo.jpg" data-fancybox="gallery").img-box.wow.bounceInLeft
								img(src="assets/images/photo.jpg", alt="img descr")
							a(href="assets/images/photo.jpg" data-fancybox="gallery").img-box.wow.bounceInUp
								img(src="assets/images/photo.jpg", alt="img descr")
							a(href="assets/images/photo.jpg" data-fancybox="gallery").img-box.wow.bounceInUp
								img(src="assets/images/photo.jpg", alt="img descr")
							a(href="assets/images/photo.jpg" data-fancybox="gallery").img-box.wow.bounceInRight
								img(src="assets/images/photo.jpg", alt="img descr")
							a(href="assets/images/photo.jpg" data-fancybox="gallery").img-box.wow.bounceInLeft
								img(src="assets/images/photo.jpg", alt="img descr")
							a(href="assets/images/photo.jpg" data-fancybox="gallery").img-box.wow.bounceInDown
								img(src="assets/images/photo.jpg", alt="img descr")
							a(href="assets/images/photo.jpg" data-fancybox="gallery").img-box.wow.bounceInDown
								img(src="assets/images/photo.jpg", alt="img descr")
							a(href="assets/images/photo.jpg" data-fancybox="gallery").img-box.wow.bounceInRight
								img(src="assets/images/photo.jpg", alt="img descr")
				section.services#services
					h1.title Услуги
					.container
						.boxes-holder
							.text-block.wow.fadeIn
								ul.marked-list
									li Мужская стрижка  <strong>250 грн.</strong>
									li Королевское бритье <strong>250 грн.</strong>
									li Стрижка усов и бороды <strong>150 грн.</strong>
							.text-block.wow.fadeIn
								ul.marked-list
									li Укладка <strong>100 грн.</strong>
									li Стрижка + борода <strong>350 грн.</strong>
									li Стрижка машинкой <strong>150 грн.</strong>
							.text-block.wow.fadeIn
								ul.marked-list
									li Детская стрижка <strong>200 грн.</strong>
									li Папа + сын <strong>400 грн.</strong>
				section.about#about
					h1.title О нас
					.container
						.row
							.img-holder.wow.slideInLeft
								img(src="assets/images/text-img.jpg", alt="")
							.text-holder.wow.slideInRight
								p <strong>Ретро Барбершоп ( Retro Barbershop)</strong> - это самый большой барбершоп в Харькове, объединяющий мужской стиль лофт в интерьере и старые традиции настоящих барбершопов времён ретро. Пожалуй, это лучшее место чтобы почувствовать себя настоящим мужчиной и получить удовольствие от дружеской атмосферы, безупречного обслуживания, идеальной укладки и стаканчика <strong>Jack Daniels</strong>.
								p.center А ещё, мы откроем вам секрет - мы находимся <strong>в минутах от метро Университет.</strong> 
								p.center <strong>Не веришь? Приходи !</strong>
				section.contact#contacts
						.map-holder
							#map
						.contact-info
							h1.title Контакты
							address г. Харьков, проспект Независимости 17 (бывший проспект Правды)
							.time 
								strong График работы:
								span пн.-пт. 10:00 - 21:00
								span сб.-вс. &nbsp;10:00 - 21:00
							.tel
								a(href="tel:‎0507482299") ‎050 7482299
								a(href="tel:‎0637482299") ‎063 7482299
								a(href="tel:‎0987482299") ‎098 7482299 <span class="viber"></span><span class="wa"></span> <span class="info">(WhatsUp Viber)</span>
							a(href="mailto:&#105;&#110;&#102;&#111;&#064;&#114;&#101;&#116;&#114;&#111;&#098;&#097;&#114;&#098;&#101;&#114;&#115;&#104;&#111;&#112;&#046;&#107;&#104;&#046;&#117;&#097;").mail &#105;&#110;&#102;&#111;&#064;&#114;&#101;&#116;&#114;&#111;&#098;&#097;&#114;&#098;&#101;&#114;&#115;&#104;&#111;&#112;&#046;&#107;&#104;&#046;&#117;&#097;
							p.copy ©«Retrobarbershop™» 2017–2018
			footer#footer
				include ../partials/foot
			#job-form.job-form
				form(method="post" action="" id="formMain")
					#messegeResult 
					.holder-elemnt
						.col-wrapper
							.col
								.input-group
									label(for="name") Имя<span class="req">*</span>
									input(id="namae" type="text" required name="name")
								.input-group
									label(for="tel") Телефон<span class="req">*</span>
									input(id="tel" type="tel" required name="tel")
								.input-group
									label(for="spec") Специальность<span class="req">*</span>
									input(id="spec" type="text" name="speciality" required)
								.input-group.social-group
									label Профили в соцсетях
									input(type="text" placeholder="Instagram" name="instagram")
									input(type="text" placeholder="Facebook" name="facebook")
									input(type="text" placeholder="Other" name="Other")
							.col
								.input-group
									label(for="email") Email<span class="req">*</span>
									input(id="email" type="email" required name="email")
								.input-group
									label(for="City") Город<span class="req">*</span>
									input(id="city" type="text" required name="city")
								.input-group
									label(for="exp") Опыт работы<span class="req">*</span>
									input(id="exp" type="text" required name="exp")
								.input-group
									label(for="abutyou") Расскажите о себе
									textarea(name="abutyou" id="abut-you", cols="30", rows="10")
						.submit-holder
							button(type="submit" class="sub"  onclick="AjaxFormRequest('messegeResult', 'formMain', 'form-to-email.php')") Отправить