doctype html
html(lang='en')
	include ../partials/head
	body
		#wrapper
			header#header
				.logo-holder
					a(href="#" alt="logo").logo
						img(src="assets/images/logo.svg", alt="RETROBARBERSHOP" width="400" height="auto")
				nav.main-nav
					span.nav-opener
					ul.nav-list
						li
							a(href="") Салон
						li
							a(href="") Услуги
						li
							a(href="") Мастера
						li
							a(href="") Контакты
						li
							a(href="") Запись
				a(href="#main").scroll-btn
					img(src="assets/images/razor.svg", alt="razer-logo")
			main#main
				section.gallery
					h1.title Салон
					.container
						.row
							.img-holder.wow.slideInLeft
								img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAOz9ew30b8aiKjgbG21aM5cCBkTeDI4KhWaxZmbsE5cYWSNmj", alt="")
							.text-holder.wow.slideInRight
								h3.h3.subtitle Lorem ipsum dolor.
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. In tempora delectus, impedit eos voluptatibus quod facere. Sapiente velit tempore culpa animi, quas mollitia ea accusamus? Ex et nostrum praesentium! Recusandae.
						.row
							.img-holder.wow.slideInRight
								img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAOz9ew30b8aiKjgbG21aM5cCBkTeDI4KhWaxZmbsE5cYWSNmj", alt="")
							.text-holder.wow.slideInLeft
								h3.h3.subtitle Lorem ipsum dolor.
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. In tempora delectus, impedit eos voluptatibus quod facere. Sapiente velit tempore culpa animi, quas mollitia ea accusamus? Ex et nostrum praesentium! Recusandae.
						.row
							.img-holder.wow.slideInRight
								img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAOz9ew30b8aiKjgbG21aM5cCBkTeDI4KhWaxZmbsE5cYWSNmj", alt="")
							.text-holder.wow.slideInLeft
								h3.h3.subtitle Lorem ipsum dolor.
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. In tempora delectus, impedit eos voluptatibus quod facere. Sapiente velit tempore culpa animi, quas mollitia ea accusamus? Ex et nostrum praesentium! Recusandae.
				section.services
					h1.title Услуги
					.container
						.text-block
							strong.title Заголовок
							ul.marked-list
								li Услуга 1
								li Услуга 2
								li Услуга 3
						.text-block
							strong.title Заголовок
							ul.marked-list
								li Услуга 1
								li Услуга 2
								li Услуга 3
						.text-block
							strong.title Заголовок
							ul.marked-list
								li Услуга 1
								li Услуга 2
								li Услуга 3
				section.about-us
					h1.title О нас
					.container
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum odio, et pharetra lectus. Duis sodales lorem mi, a finibus magna ullamcorper nec. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc mollis mauris libero, pulvinar interdum dui venenatis et. Donec iaculis felis odio, eget condimentum libero eleifend et. Sed nec arcu neque. Sed congue porta orci, fringilla condimentum odio. Nulla ut ligula a magna auctor posuere. Ut eu laoreet ante, et accumsan purus. Etiam dolor leo, sodales non neque vitae, ultrices efficitur nisl. Nunc vulputate euismod nulla viverra gravida. Integer sed sagittis lectus. Suspendisse malesuada vitae tortor eu facilisis 	
				section.team
					h1.title Мастера
					.container
						ul.thumbs-list
							li Мастер 1
							li Мастер 2
							li Мастер 3
							li Мастер 4
				section.contact
						.map-holder
							#map Карта
						.contact-info
							h1.title Контакты
							p время работы
							address Lorem ipsum dolor sit amet
							a(href="tel:12345678") 12345678
							a(href="tel:12345678") 12345678
							a(href="mail:mail@45678mail.com") mail@45678mail.com

			footer#footer
	include ../partials/foot