doctype html
html(lang='en')
	include ../partials/head
	body(itemscope itemtype="http://schema.org/Organization")
		#wrapper
			include ../partials/header
			main#main
				section.section.gallery#gallery1
					.title-holder
						h1.title(itemprop="description") Мужская парикмахерская в Харькове
					.container
						.gallery-wrapper
							a(href="assets/images/photo_1920_1-min.jpg" data-fancybox="gallery").img-box.wow.bounceInLeft
								img(src="assets/images/photo_480_1-min.jpg", alt="img descr")
							a(href="assets/images/photo_1920_2-min.jpg" data-fancybox="gallery").img-box.wow.bounceInUp
								img(src="assets/images/photo_480_2-min.jpg", alt="img descr")
							a(href="assets/images/photo_1920_3-min.jpg" data-fancybox="gallery").img-box.wow.bounceInUp
								img(src="assets/images/photo_480_3-min.jpg", alt="img descr")
							a(href="assets/images/photo_1920_4-min.jpg" data-fancybox="gallery").img-box.wow.bounceInRight
								img(src="assets/images/photo_480_4-min.jpg", alt="img descr")
							a(href="assets/images/photo_1920_5-min.jpg" data-fancybox="gallery").img-box.wow.bounceInLeft
								img(src="assets/images/photo_480_5-min.jpg", alt="img descr")
							a(href="assets/images/photo_1920_6-min.jpg" data-fancybox="gallery").img-box.wow.bounceInDown
								img(src="assets/images/photo_480_6-min.jpg", alt="img descr")
							a(href="assets/images/photo_1920_7-min.jpg" data-fancybox="gallery").img-box.wow.bounceInDown
								img(src="assets/images/photo_480_7-min.jpg", alt="img descr")
							a(href="assets/images/photo_1920_8-min.jpg" data-fancybox="gallery").img-box.wow.bounceInRight
								img(src="assets/images/photo_480_8-min.jpg", alt="img descr")
				section.section.services#services
					.title-holder
						h2.title Услуги
					.container
						.boxes-holder
							.text-block.wow.fadeIn
								ul.marked-list
									li Мужская стрижка  <strong>250 грн.</strong>
									li Королевское бритье <strong>250 грн.</strong>
									li Стрижка усов и бороды <strong>150 грн.</strong>
							.text-block.wow.fadeIn
								ul.marked-list
									li Укладка <strong>100 грн.</strong>
									li Стрижка + борода <strong>350 грн.</strong>
									li Стрижка машинкой <strong>150 грн.</strong>
							.text-block.wow.fadeIn
								ul.marked-list
									li Детская стрижка <strong>200 грн.</strong>
									li Папа + сын <strong>400 грн.</strong>
				section.section.about#about
					.title-holder
						h2.title О нас
					.container
						.row

							.text-holder.wow.fadeInUp
								h3.h3 Барбершоп
								p Здравствуйте, господа! С радостью представляем вам новый барбершоп в Харькове! 
								p Наши преимущества:
								ul
									li  Находимся в центре. Легко добраться из любой точки Харькова
									li  У нас − 7 кресел. Вам не придется долго ждать, можно прийти с друзьями
									li  Наши мастера − опытные профессионалы. Стригут быстро, бреют чисто
									li  Атмосфера − как в клубе. Если вам не нравится кофе и разговор, предложим виски и музыку
								h3.h3 Почему мы
								p В городе много парикмахерских, бербершопов и других заведений, где лицо и голову мужчины могут привести в порядок. Но мы все-таки настаиваем − лучше стричься и бриться у нас.
								p Мы очень внимательно относимся к деталям. Наши горячие полотенца не обжигают кожу, но и не отдают холодом. Вам действительно будет приятно.
								p К любой прическе и стилю подходим творчески. Вы хотели бы что-то изменить, но не выходить за пределы стиля "ламберджек"? Нет вопросов − будет вам ламберджек. Каждую неделю − абсолютно новый и оригинальный.
								p Атмосфера у нас − особенная. Да, все сейчас предлагают кофе и даже виски. Но у нас бариста в кофе вкладывает всю душу, а виски наливают чуть больше. Это сложно передать словами, нужно хотя бы один раз попробовать.
								p Посещая нас, вы не тратите время на транспорт, пробки и прочие ненужные вещи. Лучше эти полчаса потратить на общение в приятной компании.
								p У нас есть не только лучшие мастера в городе, но еще и все, что только может понадобиться мужчине, который следит за своей внешностью. Вы даже не представляли, что есть такие эффективные средства по уходу за волосами, бородой и кожей лица. Мы поможем вам каждый день выглядеть лучше всех.
								p В зале всегда людно. У нас собираются лучшие представители мужской части города. Вы не только будете общаться с интересными людьми, но и сможете завести полезные знакомства.
								p Удобные кресла. Вы присели и расслабились, отдыхаете от работы и дневной суеты, пока мастер работает над вашим стилем.
								p Не стесняемся честно признаться, что мы − лучший барбершоп Харьков. Идеальная мужская парикмахерская.
								h3.h3 Как забронировать кресло
								p Если вы − деловой человек и у вас на счету каждое мгновение, наберите нас по номеру +38(098)748-22-99. Администратор запишет вас и вы гарантировано получите свободное кресло и лучшего мастера в указанное время.
								p Если вы − современный человек, забронируйте кресло онлайн. Всего несколько кликов, не нам рассказывать, как это делается.
								p Если вы познали истину и цените каждое мгновение жизни, просто приходите в любое удобное время с 10:00 и до 21:00. Даже если все кресла будут заняты, вы чудесно проведете время, в кругу настоящих мужчин и, как минимум, одной прекрасной дамы. Стаканчик виски, чашечка кофе и приятная беседа о смысле жизни или вчерашнем боксерском поединке вам гарантирована.
								p.strong Что мы предлагаем и сколько это стоит
								ol 
									li Стрижка. Просто стрижка − волосы становятся короче, а вы − красивее
									li Короткая стрижка машинкой. Прическа? Это для девушек. Суровым мужчинам достаточно, чтобы все волосы на голове были одного размера − 3 мм.
									li Укладка. Каждый волосок в вашей прическе должен знать свое место
									li Стрижка усов и бороды. Укорачиваются только те волосы, которые растут вниз
									li Королевское бритье. Все по-взрослому, с теплыми полотенцами
									li Стрижка и бритье. Олл-инклюзив, приводим в порядок всю растительность на голове
									li Детская стрижка. Мы не называем их детьми и относимся к ним, как к взрослым. К юным мужчинам
									li Отец и сын. Совместный досуг для сильной половины семьи
								h3.h3.strong Как это происходит
								p Только вы решаете, какой стиль вам больше идет. А наш мастер предлагает вам множество интересных вариантов. Каждая прическа, даже очень коротка, это небольшое произведение искусства, сочетание творчества и природной красоты. Мы принимаем на работу только лучших мастеров, с богатым опытом и безупречными рекомендациями. Конечно, они работают не быстро, но максимально аккуратно и точно. Время летит, вы даже и не заметите, как ваш стиль будет доведен до совершенства, мастер снимет накидку и предложит оценить свою работу. 
								p Рекомендуем брать с собой сына, если вам уже повезло обзавестись наследником. Посещение мужских заведений − это, пожалуй, лучшее, что отец может дать своему сыну в качестве воспитания. Мальчик должен взрослеть, видя наглядные примеры правильного поведения, а не выслушивая нудные лекции.
								h3.h3 Когда стоит пойти в барбершоп
								p Рекомендуем посещать наше заведение хотя бы один раз в 2-3 недели. Нет, можно не стричься так часто, но мастер всегда найдет мельчайшие нюансы, которые стоит поправить. Пусть ваш внешний вид всегда будет безупречным, а длина каждого волоса на открытых частях тела с точностью до одного миллиметра соответствует вашим пожеланиям.
								p Выберите один день в неделю, который принадлежит только вам. Не обязательно вечер пятницы. Пусть это будет утро среды или обед понедельника. Вы вольны распоряжаться своим временем и не обязаны подчиняться тому же графику, что и другие. Посвятите час или два только себе, выключите телефон и расслабьтесь. Ничто не должно мешать удовольствию.
								p Приходите к нам, как только ваше отражение в зеркале вызовет у вас хотя бы малейшее сомнение.
								p Мы его быстро развеем!
				section.contact#contacts
						.map-holder
							#map
						.contact-info
							h2.title Контакты
							address г. Харьков, проспект <br> Независимости 17 
							.tel
								a(href="tel:‎0507482299") ‎050 7482299
								a(href="tel:‎0637482299") ‎063 7482299
								a(href="tel:‎0987482299").multi ‎098 7482299 
							.time 
								strong График работы:
								span пн.-пт. 10:00 - 21:00
								span сб.-вс. &nbsp;10:00 - 21:00
							ul.social-networks
								li.social
									a(href="https://www.instagram.com/retro_barber_shop/" target="_blank")
											<i class="fa fa-instagram" aria-hidden="true"></i>
								li.social
									a(href="https://www.facebook.com/barbershopkharkiv" target="_blank")
										<i class="fa fa-facebook-official" aria-hidden="true"></i>
							a(href="mailto:&#105;&#110;&#102;&#111;&#064;&#114;&#101;&#116;&#114;&#111;&#098;&#097;&#114;&#098;&#101;&#114;&#115;&#104;&#111;&#112;&#046;&#107;&#104;&#046;&#117;&#097;").mail &#105;&#110;&#102;&#111;&#064;&#114;&#101;&#116;&#114;&#111;&#098;&#097;&#114;&#098;&#101;&#114;&#115;&#104;&#111;&#112;&#046;&#107;&#104;&#046;&#117;&#097;
							span(itemprop="email").shema-hidden info@retrobarbershop.kh.ua
							a(href="https://retrobarbershop.kh.ua/" itemprop="url").shema-hidden https://retrobarbershop.kh.ua/
							//- p.copy ©«Retrobarbershop™» 2017–2018
			footer#footer
				include ../partials/foot
			#job-form.job-form
				form(method="post" action="" id="formMain")
					#messegeResult 
					.holder-elemnt
						.col-wrapper
							.col
								.input-group
									label(for="name") Имя<span class="req">*</span>
									input(id="name" type="text" required name="name")
								.input-group
									label(for="tel") Телефон<span class="req">*</span>
									input(id="tel" type="tel" required name="tel")
								.input-group
									label(for="spec") Специальность<span class="req">*</span>
									input(id="spec" type="text" name="speciality" required)
								.input-group.social-group
									label Профили в соцсетях
									input(type="text" placeholder="Instagram" name="instagram")
									input(type="text" placeholder="Facebook" name="facebook")
									input(type="text" placeholder="Other" name="Other")
							.col
								.input-group
									label(for="email") Email<span class="req">*</span>
									input(id="email" type="email" required name="email")
								.input-group
									label(for="city") Город<span class="req">*</span>
									input(id="city" type="text" required name="city")
								.input-group
									label(for="exp") Опыт работы<span class="req">*</span>
									input(id="exp" type="text" required name="exp")
								.input-group
									label(for="abut-you") Расскажите о себе
									textarea(name="abutyou" id="abut-you", cols="30", rows="10")
						.submit-holder
							button(type="submit" class="sub"  onclick="AjaxFormRequest('messegeResult', 'formMain', 'form-to-email.php')") Отправить