#header {
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: $gray;
}

.logo-holder {
	width: 100%;
	text-align: center;
}

.logo {
	display: inline-block
}